.container {
    display: relative;
}

.modal {
    display: flex;
    flex-direction: row;
    position: relative;
}

.column-1 {
    position: absolute;
    background-color: white;
    width: 50%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: all 1s ease-out;
}

.column-2 {
    position: absolute;
    background-color: #3b3b3b;
    width: 10%;
    height: 100vh;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: all 1s ease-in;
}

.column-3 {
    position: absolute;
    background-color: rgb(29, 28, 26);
    width: 40%;
    height: 100vh;
    top: 0;
    left: 60%;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.button {
    position: fixed;
    background-color: goldenrod;
    right: 50px;
    bottom: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    &:hover {
        background-color: rgb(187, 141, 26);
    }
}

.column-1.close {
    top: 100vh;
    height: 0;
}

.column-2.close {
    top: 100vh;
    height: 0;
}

.column-3.close {
    top: 100vh;
    height: 0;
}

.logo-1 {
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 50px;
    left: 100px;
}

.tri-1 {
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 90px solid #3FB885;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.tri-2 {
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 55px solid #35495E;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.tri-3 {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.logo-2 {
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 50px;
    left: 250px;
}

.left {
    position: absolute;
    height: 100px;
    width: 100px;
    clip-path: polygon(51% 17%, 100% 0, 100% 100%, 65% 80%);
    background-color: #DD0330;
    right: 0;
}

.right {
    position: absolute;
    height: 100px;
    width: 100px;
    clip-path: polygon(51% 17%, 0 0, 0 100%, 40% 80%);
    background-color: #AF2B2D;
    left: 0;
}

.alpha {
    position: absolute;
    height: 70px;
    width: 70px;
    clip-path: polygon(50% 0, 90% 100%, 75% 100%, 67% 80%, 33% 80%, 25% 100%, 40% 100%, 10% 100%);
    background-color: white;
    top: 5px;
    left: 0;
    transform: translateX(-50%);
}

.alpha-hole {
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 20px solid #DD0330;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}